/* Variables */
$body_color: #585e67;
$blue_link_color: #338087;
$anchor: $blue_link_color;
/* darker */
$anchor_hover: #2e747a;
$anchor_hover_bright: #45AEB7;
$accent: #619a21;
$accent_hover: darken($accent, 5%);

$body_font: "montserrat";
